*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
    width: 100%;
    /* border: 1 px solid black;  */
}
.container-text, .sec-tittle {
    font-family: 'Prata', serif;
    font-weight: 100; 
    color: #976107;
    margin-top: 4.5%;
    letter-spacing: 1.2px;
    font-size: 1.5em;
    text-align: center;
}
.text-p{
   width: 70%;
   border: black;
   margin: auto;
   margin-top: 2%;
}

.text-p p{
        
        color: #666;
        letter-spacing: .2px;
        font-weight: 300;
  
}
.scroll {
    display: flex;
    /* justify-content: space-around; */
    margin-top: 10%;
    width: 25%;
    margin: auto;
}

.scroll ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; 
}


a {
    text-decoration: none;
    /* background-color: #976107;  */
    font-size: 1rem;
    font-weight: 600;
    color: #db2128;
    padding: 10px 20px;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
}

a:hover {
   color: black;
}

.product-conatiner {
    width: 90%;
    margin: auto;
    border: 1px solid blue;
    margin-top: 5%;
}
.h2{
    text-align: center;
    color: #976107;
    /* font-family: 'Roboto',sans-serif; */
    font-size: 2.3rem;
    font-weight: 100;
   margin: 2% 2%;

}
/* Style for the product container */
#product-conatiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

/* Style for individual product cards */

#product-conatiner{
    width: 92%;
    margin: auto;
}

#product-conatiner > div {
    width: calc(33% - 20px); /* Adjust the width and margins as needed for a 3-column layout */
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* padding: 15px; */
    border-radius: 5px;
    text-align: center;
    
}

#product-conatiner img {
    max-width: 100%;
    height: auto;
}

#product-conatiner h3 {
    font-size: 1.5em;
    margin: 10px 0;

}
.size-tag {
   margin-left: 20%;
    /* border: 1px solid #db2128;  */
}

#product-conatiner p {
    font-size: 1em;
    margin: 10px 0;
    padding: 1%;
    color: #666; 
}

#product-conatiner p.product-price {
    font-weight: bold;
    color: #976107;
}


.policy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* To evenly distribute the child divs */
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
}

.title > p:first-child {
 font-family: 'Roboto',sans-serif;
 color: #666;
 font-weight: 100;
 font-size: 0.8rem;
 margin-top: 3%;
}
.title h2 {
  color: #976107;  
  font-size: 2.2rem;
  font-weight: 100;
  margin-top: 1.5%;
  margin-bottom: 3%;
}

.room-furniture {
    flex: 1; /* To make each child take up 25% of the available width (4 items per row) */
    max-width: calc(25% - 10px); /* To account for margins and spacing */
    margin: 10px; /* Add margins to separate child divs */
}

.room-furniture ul {
  
    padding: 0;
}


.room-furniture ul li {
    /* margin: 5px 0; */
    font-size: 14px;
    color: #666;
    font-family: 'Roboto',sans-serif;

}

.bg{
    /* border: 1px solid blue; */
    background-color: #fdf9f4;;
}

.room-furniture h4 {
 font-family: 'Roboto',sans-serif;
 color: #3d3a3a;
 font-weight: 200;
 font-size: 1.3rem;
 margin-bottom: 8%;

}