/* body {
    font-family: Arial, sans-serif;
}

#container {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#login-message {
    margin: 10px 0;
    color: red;
}

a {

    margin: auto;
    text-align: center;
    color: #ff5900;
    margin: 100px 0px 0px 160px;

} 

a:hover {

    color: #333;
    cursor: pointer;

} */

body {
    font-family: Arial, sans-serif;
}

h2 {

    margin-bottom: 45px;
    text-align: center;
    color: #976107;
    font-size: 2.8em;

}

p {

    font-size: 14px;
    line-height: 1.43em;
    letter-spacing: .2px;
    vertical-align: baseline;
    box-sizing: inherit;

}

#container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: block;
    height: auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 25px 0;
}

button {
    width: 50%;
    padding: 20px;
    margin: 10px 0 35px 145px;
    background-color: #ff5900;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b37a00;
}

#logIn-message {
    margin: 10px 0;
    color: red;
}

a {

    margin: auto;
    text-align: center;
    color: #ff5900;
    margin: 100px 0px 0px 160px;

} 

a:hover {

    color: #333;
    cursor: pointer;

}